.user {
    position: absolute;
    top: 10%;
    left: 2%;

    &__step-1 {
        left: 13.5%; // +11.5%
    }

    &__step-2 {
        left: 24.5%;
    }

    &__step-3 {
        left: 36%;
    }
}
